<div id="move-container" class="move-container">
    <div class="logo"><img id='logo-img' src="images/logo_white.png" alt="Z" title="logIn" width="100" height="100" style="margin-right: 15px;"/></div>
    <div class="top-right-area" >
        <!-- Depth1 -->  
        
         <div id="selectCtg"  data-focusable-depth="1" class="depth1"><span>Categories &nbsp<div class="fa fa-chevron-up rotate"></div></span>
    		<div id="ctgOpt" class="select">
	    		<div id="ctg1" focusable data-focusable-depth="1" class="depth1 select-opt">Technology</div>
				<div id="ctg2" focusable data-focusable-depth="1" class="depth1 select-opt">Biology</div>
				<div id="ctg3" focusable data-focusable-depth="1" class="depth1 select-opt">Sociology</div>
				<div id="ctg4" focusable data-focusable-depth="1" class="depth1 select-opt">Graphic design</div>
    		</div>  
    	</div>
        
        <div id="btnBack" focusable data-focusable-depth="2" class="depth2 btn btn-gap btn-return">
            <div class="btn-icon icon-caph icon-caph-return"></div>
        </div>
        
        <div id="btnBack4" focusable data-focusable-depth="4" class="depth4 btn btn-gap btn-return">
            <div class="btn-icon icon-caph icon-caph-return"></div>
        </div>
        
        <div id="btnBack5" focusable data-focusable-depth="5" class="depth5 btn btn-gap btn-return">
            <div class="btn-icon icon-caph icon-caph-return"></div>
        </div>
        
        <div id="btnBack6" focusable data-focusable-depth="6" class="depth6 btn btn-gap btn-return">
            <div class="btn-icon icon-caph icon-caph-return"></div>
        </div>
        
        <div id="btnBack7" focusable data-focusable-depth="7" class="depth7 btn btn-gap btn-return">
            <div class="btn-icon icon-caph icon-caph-return"></div>
        </div>
        
        <div id="btnLogIn" focusable data-focusable-depth="1" class="depth1 groupNotLogged btn btnSup">
            <div class="btnSupText">Log In/Sign up</div>
        </div>  
        
        <div id="profile-view" class="depth1 groupLogged card btn btn-gap" style="background-color: rgba(105, 105, 105, 0.2);">
            <div class="card-body">
            <div style="overflow: hidden; height: 60px; width: 60px;">
            	<img class="card-img-top">
            </div>
                <div class="card-title"></div><i class="fa fa-bell noti-advise"></i>
            </div>
           	<div id="profileSelect" style="opacity:0">
	           	<div id="logOut" class="select-logout">
	            	<div id="logOutOpt" focusable data-focusable-depth="1" class="depth1 opt-logout"><i class="fa fa-sign-out" style="font-size:35px;margin-right: 30px;"></i>Log out</div>
		    		</div>
	    		<div  id="noti" class="select-logout">
	  			    <div id="NotiOpt" focusable data-focusable-depth="1" class="depth1 opt-logout"><i class="fa fa-bell" style="font-size:35px;margin-right: 30px;"></i><span id="not-msg"></span></div>
	    		</div>
           	</div> 
        </div>
        
    </div>
    <!-- OVERVIEW -->
    <div class="overview">
        <div id="title-video" class="depth1 depth2 depth3 font-header"></div>
        <div class="depth4 title-header">Payment</div>
        <div class="depth5 title-header">Log In</div>
        <div class="depth6 title-header">Category - <span id="category-title"></span><div id="category-item-title" style="margin-top: 20px;color: rgba(255, 0, 0, 0.298039);text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;font: 60px 'SamsungSVD_Latin Medium';"></div></div>
    	<div class="depth7 title-header">Recommend video<div id="recommended"></div></div>
    </div>
    
    <!-- page: INDEX (OVERVIEW) -->
    <div id="description" class="depth1 depth6 page">
        <div class="overview desc font-body"></div>
    </div>

    <!-- page: TALK (OVERVIEW) -->
    <div id="detail-info" class="depth2 overview font-body">
    	<div class="detail-tag">Description: <span class="detail-tag-text" id="detail-description"></span></div>
    	<div class="detail-tag">Date of publish: <span class="detail-tag-text" id="detail-date"></span></div>
    	<div class="detail-tag">Author: <span class="detail-tag-text" id="detail-author"></span></div>
    	<div class="detail-tag">Duration: <span class="detail-tag-text" id="detail-duration"></span></div>
    	<div class="detail-tag">Views: <span class="detail-tag-text" id="detail-repro"></span></div>
    	<div class="detail-tag">Purchases: <span class="detail-tag-text" id="detail-purch"></span></div>
    </div>
    <div class="depth2 btn-wrapper" style="margin-top: 30px">
        <div id="btnPreview" focusable data-focusable-depth="2" data-focusable-initial-focus="true" data-focusable-name="btnPreview" class="btn btn-gap btn-preview">
            <i class="fa fa-eye icon-buy"></i>
        </div>
        <div id="btnPlay" focusable data-focusable-depth="2" data-focusable-initial-focus="true" data-focusable-name="btnPlay" class="btn btn-gap btn-play">
            <div class="btn-icon icon-caph icon-caph-play"></div>
        </div>
        <div id="btnBuy" focusable data-focusable-depth="2" data-focusable-initial-focus="true" data-focusable-name="btnBuy" class="btn btn-gap btn-buy">
            <i class="fa fa-shopping-cart icon-buy"></i>(<span id="price"></span> €)
        </div>
        <div id="btnRecommend" focusable data-focusable-depth="2" data-focusable-initial-focus="true" data-focusable-name="btnRec" class="btn btn-gap btn-rec">
            <i class="fa fa-thumbs-up icon-buy"></i>
        </div>
        <div id="logBuyMsg">You need to Log In to buy a video.</div>
    </div>
    <!-- page: TALK (LIST) -->
    <div class="depth2 related-play-list">
        <div class="list-area">
            <div class="title font-label title-opacity">Related play list</div>
            <div id="related-play-list" title="Related Play list"></div>
        </div>
    </div>
</div>
<!-- page: INDEX (LIST) -->
<div class="depth1 list-wrapper page">
    <div id="list-category" class="list-category" style="transform: translate3d(0, 0, 0)">
        <div id="area-cat0" class="list-area">
            <div class="title font-label">Continue watching</div>
            <div id="category_0" title="Continue watching" class="list-container"></div>
        </div>
        <div id="area-cat1" class="list-area">
            <div class="title font-label">Recommended for you</div>
            <div id="category_1" title="Recommended for you"></div>
        </div>
        <div class="list-area">
            <div class="title font-label">New</div>
            <div id="category_2" title="New"></div>
        </div>
        <div class="list-area">
            <div class="title font-label">Most Viewed</div>
            <div id="category_3" title="Most Viewed"></div>
        </div>
    </div>
</div>

<!-- depth4 -->
<div id="paymentPage" class="depth4 list-wrapper page sub-page">
	<div id="buy-link-message" class="auth-msg"></div>
	 <img id='barcodeBuy' class="qr-code" src="" alt="" title="logIn" width="500" height="500" />
</div>

<!-- LogIn depth5 -->
<div class="depth5 list-wrapper page sub-page">
	<div id="auth-link-message" class="auth-msg"></div>
	 <img id='barcode' class="qr-code" src="" alt="" title="logIn" width="500" height="500" />
</div>

<div id="categoryPage" class="depth6 list-wrapper page sub-page" style="margin-top: 100px">
	<div></div>
	<div id="list_0" class="category-row"></div>
	<div id="list_1" class="category-row"></div>
</div>

<div class="depth7 list-wrapper page">
    <div id="list-users" class="list-category" style="transform: translate3d(0, 0, 0)">
        <div id="area-usr0" class="list-area">
            <div class="title font-label">Frequent contacts</div>
            <div id="users_0" title="Frequent contacts"></div>
        </div>
        <div class="list-area">
            <div class="title font-label">Software</div>
            <div id="users_1" title="Software"></div>
        </div>
        <div class="list-area">
            <div class="title font-label">Hardware</div>
            <div id="users_2" title="Hardware"></div>
        </div>
        <div class="list-area">
            <div class="title font-label">Human resources</div>
            <div id="users_3" title="Human resources"></div>
        </div>
         <div class="list-area">
            <div class="title font-label">Management</div>
            <div id="users_4" title="Management"></div>
        </div>
    </div>
</div>
<div id="picture-modal" class="modal">
	<h1>User picture changed!</h1>
	<div style="overflow: hidden; height: 400px; width: 400px;">
		<img alt="Photo" src="" style="width: 400px">
	</div>
</div>
<script id="playlist1" type="text/template">
    <div id="<%=item.id%>" class="item" focusable data-focusable-depth="1" data-index="<%= index %>">
        <div class="loader <%=(!item.loaded)?'hide':'' %>"></div>
        <div class="content" style="background: url(<%=item.photo_urls.url || '' %>);-webkit-background-size:100%;">
            <div class="text font-label">
                <div class="font-info"><%=item.name%></div>
            </div>
        </div>
    </div>
</script>
<script id="playlist" type="text/template">
    <div id="<%=item.id%>" class="item" ng-class="{'item-blank': item.isBlank === true}" focusable data-focusable-depth="1" data-index="<%= index %>">
        <div class="loader <%=(!item.loaded)?'hide':'' %>" ng-show="item.loaded === false"></div>
        <div class="content" ng-hide="item.loaded === false" style="background: url(<%=item.photo_urls.url || '' %>);-webkit-background-size:100%;">
            <div class="text font-label">
                <div class="font-info"><%=item.name%></div>
            </div>
        </div>
    </div>
</script>
<script id="userlist" type="text/template">
    <div id="<%=item.id%>" class="item item-playlist" focusable data-focusable-depth="7" data-index="<%= index %>">
        <div class="loader <%=(!item.loaded)?'hide':'' %>" ng-show="item.loaded === false"></div>
        <div class="content" ng-hide="item.loaded === false" style="background: url(http://ztudy.tk<%=item.photo_urls.url || '' %>);-webkit-background-size:100% 100%;">
            <div class="playlist-text font-label"><%=item.name%></div>
        </div>
    </div>
</script>
<script id="playlistSm" type="text/template">
    <div id="<%=item.id%>" class="item item-playlist" focusable data-focusable-depth="1" data-index="<%= index %>">
        <div class="loader <%=(!item.loaded)?'hide':'' %>" ng-show="item.loaded === false"></div>
        <div class="content" ng-hide="item.loaded === false" style="background: url(<%=item.photo_urls[0].url || '' %>);-webkit-background-size:100% 100%;">
            <div class="playlist-text font-label"><div class="font-info">Small Item</div><%=item.name%></div>
        </div>
    </div>
</script>

<script id="relatedPlaylist" type="text/template">
    <div class="item" focusable data-focusable-depth="2" index="<%= index %>">
        <div class="loader <%=(!item.loaded)?'hide':'' %>"></div>
        <div class="content" ng-hide="item.loaded === false" style="background: url(<%=item.photo_urls.url || '' %>);-webkit-background-size:100% 100%;">
            <div class="text font-label">
            <%=item.name%></div>
        </div>
    </div>
</script>
